
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Placed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>🎉 Thank You for Your Order!</h2>
        <p>You'll be receiving a confirmation e-mail shortly with your pizza order status.</p>

        <div class="button-group">
            <a href="{{ url_for('index') }}" class="small-btn secondary-btn">Back to Home</a>
        </div>
    </div>
</body>
</html>